# Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual env
env/
venv/

# Data
data/
*.csv
*.parquet

# Logs
*.log

.vscode/
data/raw/*.csv
saved_models/*.joblib
__pycache__/
.pytest_cache/